data_image_for_krr_Rz_dimx1/
data_image_for_Rz_dimx1_non_periodic/
checkpoints_2q1s/
checkpoints_3q1s/
checkpoints_2q2s/
checkpoints_4q1s/
checkpoints_3q2s/
checkpoints_2q3s/
checkpoints_2q4s/
checkpoints_2q5s/
checkpoints_2q3sY0Y1/
checkpoints_2q2sY0Y1/
checkpoints_2q1sY0Y1/
checkpoints_2q2sY0Y14pi/
checkpoints_2q3sY0Y14pi/
checkpoints_2q3sX0Y14pi/
checkpoints_2q3s4pi/
checkpoints_2q3sZ0Y14pi/
checkpoints_2q3sZ0Y1extrapolate/
checkpoints_2q3sZ0Y1extrapolatem2pi2pi/
checkpoints_2q3sZ0Y1extrapolate4pi/
checkpoints_2q3sZ0Y1extrapolate2pi/